html {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}
body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}
.back-link {
    font-size: 5em;
    text-decoration: none;
    i {
        color: red;
        transition: 0.3s color;
        &:hover {
            color: #b10000;
        }
    }
}
