.employees-container {
    .actions {
        span {
            color: white;
            font-size: 1.1em;
            margin: 0 3px;
            transition: 0.3s color;
            cursor: pointer;
            &:hover {
                color: #b2b2b2;
            }
        }
        a {
            color: white;
            font-size: 1.1em;
            margin: 0 3px;
            transition: 0.3s color;
            cursor: pointer;
            &:hover {
                color: #b2b2b2;
            }
        }
    }
    table {
        img {
            height: 25px;
        }
    }
}
