.employees-container .actions a , .employees-container .actions form button{
    color: white;
    font-size: 1.1em;
    margin: 0 3px;
    transition: 0.3s color;
    text-decoration: none;
}
.employees-container .actions form{
    display: inline-block;
}
.employees-container .actions form button{
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
}
.employees-container .actions a:hover , .employees-container .actions form button:hover{
    color: #b2b2b2;
}